extends ../layout

block content
	div.col-md-12
		h4 View Gateways
		div.col-md-8
			table.table
				tr					
					th Owner Id
					th Application Id
					th Gateways
					th  
				- each variable,i in gateways
					tr						
						td #{variable.owner}
						td #{variable.app_id}
						td
							select.form-control
								- each variable2,j in variable.gateway_objects
									option #{variable2.name}
						td
							a(href="/registergateways/delete/#{variable._id}") Delete

		
block inPageScript
	script.
		
		