extends ../layout

block content
	h3 Gateway
	hr
	div.col-md-12
		h4 Add Dataset
		div.col-md-6
			form(method="POST", action="/gateways")
				div.form-group
					label(for="variable") Number of gateway instances: 
					input#variable.form-control(name="variable",value="2")					
				div
					input#add.btn.btn-success(type="button",required="required",onclick="return false",value="add")
				div#dataset.form-group
				div.col-md-offset-5
					input.btn.btn-success(required="required",type="submit", value="Submit")

		
block inPageScript
	script.
		$(document).ready(function(){
			types=JSON.parse('!{types}');				
			
			$("#add").click(function(){				
				var num = $("#variable").val(); 
				if (num.trim() == ""){
					alert("enter a variable");
					return false;
				}				
				$("#dataset").empty();				
				for(var i=1;i<=num;i++){
					var tag='<div name="form-group">'
					tag+='<label for="name"> Name '+i+':'
					tag+='<input class="form-control" required="required" type="text"  name="name'+i+'">'
					$("#dataset").append(tag);
					
					tag=''
					var tag='<div name="form-group">'
					tag+='<label for="name"> Type '+i+':'
					tag+='<select class="form-control" required="required" name="type'+i+'">'
					for( var j of types){
						tag+='<option value="'+j._id+'">'+j.name+'</option>'
					}
					tag+='</select>'	
					$("#dataset").append(tag);
				}
				

				
				return false;				
			});

		});
		